/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Lora', serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Links */
a {
  color: #3a8fb7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Container */
.container {
  width: 100%;
  margin: 5vh auto;
  padding: 20px;
  border-radius: 10px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1, h2 {
  color: #222;
}

/* Section */
.section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.section h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  margin-bottom: 8px;
}

.section ol {
  padding-left: 20px;
}

.section ol li {
  margin-bottom: 8px;
}

/* .section a {
  color: #3a8fb7;
  font-weight: 500;
} */

/* Table */
.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #b3d8ff;
  font-weight: bold;
}
.table tr:nth-child(odd) {
  background-color: #ffffff; /* White for odd rows */
}

.table tr:nth-child(even) {
  background-color: #f0f8ff; /* Light gray for even rows */
}

}
/* 
.table a {
  color: #0056b3;
  text-decoration: none;
} */

.table a:hover {
  text-decoration: underline;
}

/* CV Section */
.cv-section {
  text-align: center;
  margin: 20px auto;
  max-width: 900px;
}

.pdf-container {
  width: 90%;
  max-width: 900px;
  height: 80vh;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.pdf-container iframe {
  width: 100%;
  height: 100%;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

/* Layout for Smaller Screens */
@media (max-width: 900px) {
  .gallery {
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}


/* Left & Right Panels */
.left-panel {
  width: 30%;
  position: fixed;
  height: 80vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel img {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 7 / 13;
  object-fit: cover;
  border-radius: 10px;
}

.right-panel {
  margin-left: 30%;
  width: 70%;
  padding: 40px;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.nav-left {
  display: flex;
  gap: 40px;
}

nav a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
  color: black;
  border-bottom: 1px solid black;
}

nav a.active {
  color: black !important;
  border-bottom: 2px solid black;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  nav {
    text-align: left;
    padding: 10px;
  }

  nav a {
    display: block;
    padding: 10px;
    margin: 5px 0;
  }
}

/* Responsive Body */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    position: relative;
    height: auto;
    padding: 20px;
  }

  .right-panel {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }

  .left-panel img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 7 / 3;
  }

  .section {
    padding: 15px;
  }

  .section h2 {
    font-size: 1.4rem;
  }
}