/* Master styles */
body {
  font-family: "Lora", serif;
  margin: 0px;
  line-height: 1.6rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid; /* css grid */
  grid-template-columns: 1fr; /* fr = fractional unit, 1fr = 100% */
}

/*ul li ul {
  list-style-type: none;
}*/

/* Nav styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s; /* animation */
}

.nav-link-wrapper a {
  color: #8a8a8a; /* link color grey is #8a8a8a*/
  text-decoration: none; /* remove link underline */
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black; /* link gets black when hover mouse */
}

.nav-link-wrapper a:hover {
  color: black;
}

.right-side > div {
  text-transform: uppercase;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* Protfolio styles */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns each with full size */
}

.portfolio-item-wrapper {
  /* Future: Might be able to change the size of background picture here */
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  /* adjust subtitle position */
  position: absolute;
  top: 0; /* position at very top */
  display: flex;
  flex-direction: column;
  justify-content: center; /* left to right */
  align-items: center; /* top to bottom */
  height: 100%;
  width: 100%;
}

.logo-wrapper img {
  /* adjuts logo size */
  width: 100%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle a {
  /* title will only show once hovered */
  transition: 1s;
  font-size: 100px;
  font-weight: 300;
  text-decoration: none; /* remove link underline */
  color: transparent;
  margin-left: -10px;
}

.img-text-wrapper .subtitle:hover a {
  color: #bdc0ba; /* SHIRONEZUMI from nipponcolors.com */
  text-decoration: none; /* remove link underline */
  transition: color 1s;
}

.img-darken {
  /* darken img when hover above */
  transition: 1s;
  filter: brightness(30%);
}

/* About page styles */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
}

.profile-image-wrapper {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.profile-content-wrapper h1 {
  color: black;
  line-height: 2.5rem;
}

.one-content-wrapper {
  margin-left: 5%; /* margin shorthand for margin-top, margin-right, margin-bottom, and margin-left. */
  margin-right: 10%;
  padding: 30px;
}

/* teaching */
.teaching-content-wrapper {
  margin-top: 10px;
  margin-bottom: 80px;
}

.teaching-content-wrapper p {
  line-height: 30x;   /* within paragraph */
  margin: 3px 0px; /* between paragraphs top+bottom right+left */
}

/* syllabus */
.syllabus-content-wrapper {
  margin-top: 10px;
  margin-bottom: 40px;
}

.syllabus-content-wrapper p {
  line-height: 30x;   /* within paragraph */
  margin: 3px 20px; /* between paragraphs top+bottom right+left */
}

.profile-content-wrapper a {
  text-decoration: none;
  color: #3a8fb7;
}
.return-to-previous-page {
  text-align: right;
}

.content-description {
  color: #8a8a8a;
}

/* dercription list */
.description-list-wrapper {
  overflow: hidden;
  margin: 20px 0;
}

dl {
  margin: 0;
}

dt {
  margin: 0;
  float: left;
  clear: left;
}

dd {
  margin: 0 0 0 60px;
}
dd:after {
  clear: both;
}

/* collapsible/accordion */
.accordion {
  width: 100%;
  /* max-width: 1000px; */
  /* margin: 2rem auto;  */
  /* horiziontal center */
}

.accordion-item {
  background-color: white;
  color: black;
  margin: 1rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 1px 5px 0 #91989f; /* color = ginnezumi */
}

.accordion-item-header {
  color: black; /* color = chigusa */
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;

  display: flex;
  align-items: center; /* verticel centered */
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B"; /* CSS entities code, \002B is + */
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-item-header.active::after {
  transform: rotate(45deg);
}

.accordion-item-body {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  /* line-height: 1.5rem; */
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #bdc0ba, transparent) 1;
  /* color = shiroenzumi */
}

/* .accordion-item-header.active + .accordion-item-body {
  display: block;
  max-height: 500px;
} */

/* phone view */
/* @media (max-width: 767px) {
  html {
    font-size: 20px;
  }
} */

/* back to top button */
html {
  scroll-behavior: smooth;
}
#back-to-top-btn {
  display: none;
  position: fixed;
  /* position */
  bottom: 50px;
  right: 20px;
  font-size: 26px;
  /* button size */
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 1px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #333;
  color: #fff;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* zoom in */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* zoom out */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

/* footer */
.footer-container {
  background: #303036;
  color: #d3d3d3;
  height: 4%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container .footer-content .footer-section p {
  font-size: 10pt;
  margin-top: 0;
  padding-right: 3%;
  padding-top: 7px;
  text-align: right;
}

@media (max-width: 992px) {
  /* .container {
    padding: 20px 100px;
  } */
  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  /* .container {
    padding: 10px 50px;
  } */
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  hr {
    margin: 30px 0;
  }
  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
  }
}
